[run]
omit = 
    *tests*
    tests/*
    # exclude anything that is not officially documented on the website
    nctoolkit/deprecated.py 
    nctoolkit/shape.py 
    nctoolkit/esoteric.py 
    nctoolkit/val*.py
    nctoolkit/unify.py
    nctoolkit/bloom.py 
[report]
show_missing = True
