include MANIFEST.in
include LICENSE
include README.md
include setup.py
include requirements.txt 
exclude .gitattributes 
exclude build-conda-package 
#
#
#graft nctoolkit
#
#
global-exclude *.bz2
recursive-exclude docs *
recursive-exclude tests *
recursive-exclude tutorials *
recursive-exclude nctoolkit.egg-info *
recursive-exclude .github *
global-exclude docs/*
global-exclude *.nc
global-exclude *.sh
global-exclude *.rst
global-exclude *.yml
global-exclude *.yaml
global-exclude *.txt
global-exclude .coveragerc
global-exclude .gitignore
include requirements.txt 
