xarray
netCDF4
hvplot
panel
pandas
ncplot>=0.0.5
dill
python-dateutil
plotnine

numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=9.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
