# Python CircleCI 2.0 configuration file
version: 2.1
orbs:
  codecov: codecov/codecov@3.1.1


jobs:
  build:
    #macos:
    #  xcode: 14.2.0 # indicate your selected version of Xcode
    #resource_class: macos.m1.large.gen1
    docker:
      - image: continuumio/miniconda3

    working_directory: ~/repo

    steps:
      # Step 1: obtain repo from GitHub
      - checkout
      # Step 2: create virtual env and install dependencies
      - run:
          name: install dependencies
          command: |
            apt update
            apt install build-essential  -y
            eval "$(conda shell.bash hook)"
            #conda activate nctoolkit-dev
            conda config --add channels conda-forge

            conda create -n nctoolkit -y python=3.9 cdo=2.4.0 nco geos
            conda create -n nctoolkit31 -y python=3.10 cdo nco geos

            #conda install -c conda-forge gcc=12.1.0


      # Step 3: run linter and tests
      - run:
          name: run tests
          command: |
            #conda init bash

            eval "$(conda shell.bash hook)"
            conda activate nctoolkit
            pip install pytest
            pip install coverage
            pip install numpy 
            pip install textract
            pip install cartopy
            pip install rioxarray
            pip install --user codecov
            pip install .
            coverage run -m pytest tests/test_*.py
            coverage report
            coverage xml
      
            conda activate nctoolkit31
            pip install pytest
            pip install coverage
            pip install numpy 
            pip install cartopy
            pip install textract
            pip install rioxarray
            pip install --user codecov
            pip install .
            python testing/test_scripting.py
            #coverage run -m pytest tests/test_*.py
            #coverage report
            #coverage xml
